[submodule "Project4/tvtrackerUpgrade"]
	path = Project4/tvtrackerUpgrade
	url = https://github.com/marco3dog/tvtrackerUpgrade.git
[submodule "Project5/DollarsBankFE"]
	path = Project5/DollarsBankFE
	url = https://github.com/albertzeap/DollarsBankFE.git
[submodule "Project6/furniture-hub-ecommerce"]
	path = Project6/furniture-hub-ecommerce
	url = https://github.com/albertzeap/furniture-hub-ecommerce.git
[submodule "Project7/PEP2-2"]
	path = Project7/PEP2-2
	url = https://github.com/rokamoto30/PEP2-2.git
[submodule "Project8/Furniture-Hub-Backend"]
	path = Project8/Furniture-Hub-Backend
	url = https://github.com/albertzeap/Furniture-Hub-Backend.git
[submodule "Project1A/ExpenseTracker"]
	path = Project1A/ExpenseTracker
	url = https://github.com/albertzeap/ExpenseTracker.git
[submodule "Project2A/ContactManager"]
	path = Project2A/ContactManager
	url = https://github.com/albertzeap/ContactManager.git
